<html>
    <head lang="en">
        <meta charset="UTF-8">
        <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}" ></script>
        <title>Two Wheeler Image recogition</title>
    
    </head>
    <body>
        <div class="container py-5">
        
            <form class="md-form" method="POST" id="image_form" >
                <div class="file-field">
                  <div class="btn btn-primary btn-sm float-left">
                    <span>Choose file</span>
                    <input type="file">

                  </div>
                  <input type=submit value=Upload>
                </div>
              </form>
    </body>
    <link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}" ></script>
</html>